
body {
  font-family: 'OpenSans';

}

.background {
  background: linear-gradient(to bottom, rgba(49,254,149,70), rgba(24,84,255,88));
  min-height: 100vh;
  display: flex;
}

.account {
  display: flex;
  flex-direction: column;
}

.account--mainHeading {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  font-weight: normal; 
  margin-top: 35px;
}

input.account--input {
  display: block;
  width: 232px;
  margin: auto;
  margin-top: 30px;
  background: transparent;
  border: none;
  border-bottom: 4px solid #0085b6;
  height: 19px;
  padding-left: 20px;
}

input.account--input::placeholder {
  color: #ffffff;
  opacity: 0.62;
}

.account--input:focus {
  outline-width: 0;
}

.account--Btn {
  margin: auto;
  display: block;
  background: #ffffff;
  width: 240px;
  height: 60px;
  padding: 16px 51px;
  border-radius: 5px;
  margin-top: 39px;
  font-size: 18px;
  color: rgba(69,192,178,.62);
  font-weight: bold;
}

.account--logo {
  text-align: center;
  height: 62px;
}

.main {
  margin-top: 99px;
  margin: auto;
}

.account--secondHeading {
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  font-weight: normal;
  margin-top: 20px;

}
@media screen and (max-width: 992px){

}

